# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby('type')['ride_id'].count()
total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2 Get the total drivers for each city type
total_drivers= city_data_df.groupby('type')['driver_count'].sum()
total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [5]:
#  4. Get the average fare per ride for each city type. 
average_fare_per_ride = pyber_data_df.groupby('type')['fare'].mean()
average_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [6]:
#  3. Get the total amount of fares for each city type
total_amount_of_fare = pyber_data_df.groupby('type')['fare'].sum()
total_amount_of_fare

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type. 
average_fare_per_driver = (total_amount_of_fare/total_drivers)
average_fare_per_driver

NameError: name 'total_amount_per_fare' is not defined

In [ ]:
#  6. Create a PyBer summary DataFrame.
data = [total_rides, total_drivers, total_amount_of_fare, average_fare_per_ride,average_fare_per_driver]
headers = ["Total Rides", "Total Drivers","Total Fares","Average Fare per Ride","Average Fare per Driver"]
pyber_summary_df  = pd.concat(data, axis=1, keys=headers)
pyber_summary_df

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

In [ ]:
#  8. Format the columns 
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].apply(float).map("${:.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].apply(float).map("${:.2f}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].apply(float).map("${:.2f}".format)
pyber_summary_df

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame
pyber_data_df.head()

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
#In Step 1, create a new DataFrame with multiple indices using the groupby() function on the "type" and "date" columns of the pyber_data_df DataFrame, then apply the sum() method on the "fare" column to show the total fare amount for each date.

fare_by_date_df = pyber_data_df.groupby(['type','date']).sum([['fare']])

fare_by_date_df

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
fare_by_date_df = fare_by_date_df.reset_index()
fare_by_date_df

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pivot_df = fare_by_date_df.pivot_table(index =['date'],values =['fare'], columns =['type'], aggfunc ='sum')

#Drop level-remove 'fare' from column-level for graph legend
#https://stackoverflow.com/questions/36784624/pandas-remove-aggfun-np-sum-labels-and-value-labels-from-pivot-table
pivot_df.columns = pivot_df.columns.droplevel([0])
print(pivot_df)

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
specific_dates_df = pivot_df.loc['2019-01-01':'2019-04-29']
specific_dates_df

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
specific_dates_df.index = pd.to_datetime(specific_dates_df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()
specific_dates_df.info()
specific_dates_df

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
resamplew_df = specific_dates_df.resample('W').sum()
resamplew_df

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 
# Import the style from Matplotlib.
from matplotlib import style
style.use('fivethirtyeight')

ax = resamplew_df.plot(figsize = (20,6))
#The grid in sample challenge did not have xlabel other than month ticks:set xlabel to null
ax.set_xlabel("")
ax.set_ylabel("Fare($USD)")
ax.set_title ("Total Fare by City Type")
#saving to folder
plt.savefig("analysis/Total Fare by City Type.png")
plt.show()